<nav class="flex">
    <a href="/" class="h-full"><img src="/resources/favicon/faviconRetina.png" alt="Logo" class="h-full" /></a>
    <div class="flex gap-6">
      <!-- Items du menu -->
      <a href="#" class="hover:text-primary-600">Accueil</a>
      <a href="#" class="hover:text-primary-600">Produits</a>
      <a href="#" class="hover:text-primary-600">Contact</a>
    </div>
</nav>