<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        {{title || "HydroSol - Retrouvez la performance hydrolique"}}
    </title>
    @if ($slots.meta)
        {{{ await $slots.meta() }}}
    @endif
    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>
 
  <body>
    <header>
        @component('components/top-menu')
        @end
    </header>
    <main>
        {{{ await $slots.main() }}}
    </main>
    <footer>
        @component('components/footer')
        @end
    </footer>
  </body>
</html>