<section data-main-section
  class="flex-grow
        bg-white
        w-full
        max-w-7xl
        mx-auto
        px-4
        sm:px-6
        lg:px-8
        py-6
        sm:py-8
        lg:py-12
        ">
    <h1 class="text-greenLhm text-5xl">
      HydrSol
    </h1>
    <img src="/resources/favicon/sphere.svg"><img>
    <ul>
      <li>Blabla</li>
      <li>Blabla</li>
      <li>Blabla</li>
      <li>Blabla</li>
      <li>Blabla</li>
    </ul>
  </section>