<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      HydroSol - Retrouvez la performance hydrolique
    </title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>
 
  <body>
    <h1 class="text-green text-5xl">
      HydrSol
    </h1>
  </body>
</html>
