@layout.home({title: 'HydroSol - Retrouvez la performance hydrolique'})

  @slot('meta')
    <meta name="description" content="HydroSol est un site fournissant des guides et des pièces pour réparer les organes hydrauliques des voitures CITROËN" />
  @endslot

  @slot('main')
    <h1 class="text-green text-5xl">
      HydrSol
    </h1>
  @endslot
@end
