@layout.mainLayout({title: 'Mentions légales'})

  @slot('meta')
    <meta name="description" content="HydroSol est un site fournissant des guides et des pièces pour réparer les organes hydrauliques des voitures CITROËN" />
  @endslot

  @slot('main')
    @component('components/main/mentions-legales')
    @end
  @endslot
@end
